.thumbnail:hover {
    position:relative;
    top:2px;
    left:2px;
    right:2px;
    width:350px;
    height:auto;
    display:block;
    z-index:100;
}

body { 
    background-color: gainsboro;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

td, th {
    padding: 15px;
    text-align: center;
    font-family: "Arial", Serif;
}

img {
    width: 180px;
    height: auto;
}

form {
    font-family: "Arial", Serif;
}

.button1 {
    display: inline-block;
    padding: 12px 15px;
    font-family: "Arial", Serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 4px solid red;
    border-radius: 12%;
    background-color: red;
    color: white;
    box-shadow: 0 8px #999;
}

.button1:hover {
    background-color: #b30000;
    border: 4px solid #b30000;
}

.button1:active {
    background-color: #b30000;
    border: 4px solid #b30000;
    box-shadow: 0 6px #666;
    transform: translateY(4px);
}